@use "color";

.main-footer {
    background-color: color.$black;
    text-align: center;
    padding: 2rem 1rem;

    .center-title {
        color: color.$white;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.3rem;
    }

    .copy-title {
        color: #ccc;
        margin-top: 1rem;
        font-size: 8pt;
    }
}