@use "Nesting";

.main-footer {
    position: relative;
    z-index: 1000;
    background-color: Nesting.$black;
    text-align: center;
    padding: 2rem 1rem;

    .center-title {
        color: Nesting.$white;
        font-family: Nesting.$main_font_Bold;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 0.3rem;
    }

    .copy-title {
        font-family: Nesting.$main_font_Light;
        color: #ccc;
        margin-top: 1rem;
        font-size: 8pt;
    }
}