@use "Nesting";

.main-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    background-color: Nesting.$black;
    color: Nesting.$white;

    .nav-menu {
        font-family: Nesting.$main_font_Light;
        display: flex;
        gap: 5rem;
        align-items: center;

        .logo {
            font-family: Nesting.$main_font_Bold;
            font-size: 1.5rem;
        }

        .user-icon {
            display: flex;
            font-size: 2rem;
        }

        .download {
            display: flex;
            height: 30px;
            width: 110px;
            border-radius: 30px;
            color: Nesting.$black;
            background-color: Nesting.$main_color;
            align-items: center;
            justify-content: center;
        }
    }
}
