@use "Nesting";

.main-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    background-color: Nesting.$black;
    color: Nesting.$white;

    .nav-menu {
        font-family: Nesting.$main_font_Light;
        display: flex;
        gap: 5rem;
        align-items: center;

        .logo {
            font-family: Nesting.$main_font_Bold;
            font-size: 1.5rem;
        }

        .user-icon {
            display: flex;
            font-size: 2rem;
        }

        .download {
            display: flex;
            height: 30px;
            width: 110px;
            border-radius: 30px;
            color: Nesting.$black;
            background-color: Nesting.$main_color;
            align-items: center;
            justify-content: center;
        }
    }
}

// 회원 로그인 모달창
.signin_logo {
    font-family: Nesting.$main_font_Bold;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.signin_title {
    margin-bottom: 1.2rem;
}

.signin_input {
    width: 90%;
    padding: 1rem;
    background: rgb(230, 230, 230);
    border: none;
    border-radius: 30px;
    margin-bottom: 0.8rem;
    cursor: pointer;

    color: Nesting.$black;
    font-size: 0.95rem;
    font-family: Nesting.$main_font_Light;

    &::placeholder {color: #8b8080;}
}

.signin_btn, 
.signup_btn, 
.google_btn {
    background: Nesting.$black;
    color: Nesting.$white;

    width: 70%;
    padding: 0.9rem;
    border: solid Nesting.$white;
    border-radius: 30px;
    margin: 0.5rem 0 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        color: Nesting.$black;
        background-color: Nesting.$white;
        border: solid Nesting.$black;
    }
}

.divider {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid Nesting.$black;
}