@use "Nesting";

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    background-color: Nesting.$black;
    color: Nesting.$white;

    .nav-menu {
        font-family: Nesting.$main_font_Light;
        display: flex;
        gap: 7rem;
        align-items: center;

        a {
            color: Nesting.$white;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 2rem;
            transition: all 0.5s ease;

            &:hover {
                color: Nesting.$black;
                background-color: Nesting.$white;
            }
        }

        .logo {
            font-family: Nesting.$main_font_Bold;
            font-size: 1.5rem;
        }

        .user-icon,
        .mail-icon {
            display: flex;
            font-size: 2rem;
            cursor: pointer;
        }

        .download {
            display: flex;
            height: 30px;
            width: 110px;
            border-radius: 30px;
            color: Nesting.$black;
            background-color: Nesting.$main_color;
            align-items: center;
            justify-content: center;
        }
    }
}

// 회원 로그인/회원가입/프로필 모달창
.master_logo {
    font-family: Nesting.$main_font_Bold;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.signin_title,
.signup_title,
.profile_title,
.update_title,
.mail_title {
    font-family: Nesting.$main_font_Light;
    margin-bottom: 1.2rem;
}

.signin_input,
.signup_input,
.update_input {
    width: 90%;
    padding: 1rem;
    background: rgb(230, 230, 230);
    border: none;
    border-radius: 30px;
    margin-bottom: 0.5rem;
    cursor: pointer;

    color: Nesting.$black;
    font-size: 0.95rem;
    font-family: Nesting.$main_font_Light;

    &::placeholder {color: #8b8080;}
}

.signin_btn, 
.signup_btn, 
.google_btn,
.update_btn {
    font-family: Nesting.$main_font_Light;
    background: Nesting.$black;
    color: Nesting.$white;

    width: 70%;
    padding: 0.9rem;
    border: solid Nesting.$white;
    border-radius: 30px;
    margin: 0.4rem 0 0.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        color: Nesting.$black;
        background-color: Nesting.$white;
        border: solid Nesting.$black;
    }
}

.verify_btn,
.signout_btn,
.profileupdate_btn,
.deleteaccount_btn,
.resetimg_btn {
    font-family: Nesting.$main_font_Light;
    background: Nesting.$black;
    color: Nesting.$white;
    border: solid Nesting.$white;
    border-radius: 30px;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
    &:hover {
        color: Nesting.$black;
        background-color: Nesting.$white;
        border: solid Nesting.$black;
    }
}

.divider {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid Nesting.$black;
}

.signup_form,
.update_form {
    overflow: hidden;
    margin-top: 1rem;
}

// 프로필 모달창
.profile_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;

    .user_img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: Nesting.$white;
        flex-shrink: 0;
    }

    .profile_info {
        text-align: left;

        .name {
            font-family: Nesting.$main_font_Bold;
            font-size: 1.7rem;
            margin-bottom: 0.5rem;
        }

        .status {
            width: 180px;
            padding: 1rem;
            border-radius: 20px;
            background-color: Nesting.$black;

            .status_row {
                color: Nesting.$white;
                font-family: Nesting.$main_font_Light;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1rem;
                margin: 0.4rem 0;
            }

            .status_divider {
                margin: 1rem 0;
                border: none;
                border-top: 2px solid Nesting.$white;
            }
        }
    }
}

// 고정된 항목 블러처리
.blurred {
    filter: blur(0.5px);
    pointer-events: none;
    user-select: none;
    background-color: #f5f5f5;
    color: #666666;
}