// Color
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$yellow: #ffff00;
$green: #00FF00;
$blue: #0000ff;
$purple: #800080;
$gray: #888888;

$main_color: #e2ff63;

// Font
$main_font_Bold: 'PyeongChang-Bold';
$main_font_Light: 'PyeongChang-Light';